@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,400&family=Poppins:wght@400;500;700&display=swap');

:root {
  --clr-primary: hsl(209, 30%, 35%);
  --clr-accent: hsl(195, 88%, 33%);
  --clr-bg: hsl(211, 63%, 86%);
  --gradient:linear-gradient(to bottom right, hsl(209, 57%, 19%), hsl(195, 66%, 23%));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 1.33rem 1.66rem;
  background-color: var(--clr-bg);
}

h1, h2, h3, p, a, span {
  color: var(--clr-primary);
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  width: fit-content;
  padding: 0.66rem 1.33rem;
  border: 1px solid var(--clr-primary);
  border-radius: 15px;
  display: block;
}

.btn-primary {
  color: hsl(194, 100%, 95%);
  background: var(--gradient);
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* header */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-logo {
  margin-right: 5rem;
}

/* .nav-menu {
  display: none;
  justify-content: space-between;
}

.nav-menu.active {
  display: block;
} */

.menu-left {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.menu-right {
  display: flex;
  align-items: center;
  gap: 1.33rem;
}

/* main */

main {
  margin-top: 5rem;
}

.subtitle {
  font-size: 1rem;
  letter-spacing: 0.2em;
  color: var(--clr-accent);
}

h1 {
  margin-block: 0.33em;
  font-size: 2.33rem;
  font-family: 'Lora', serif;
  line-height: 1.33em;
}

.description {
  margin-bottom: 50px;
  font-weight: 500;
  max-width: 85%;
}